.headerrr {
  background-color: rgb(34, 33, 33);
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: normal;
}

.grid {
  display: flex;
  background-color: #F6F4F3;
  /* color: white; */
}

.grid-item {
  height: 88vh;
  overflow-y: scroll;
}
.item-1 {
  width: 25%;
}
.item-2 {
  width: 35%;
}
.item-3 {
  width: 40%;
}

.pdy {
  padding: 20px;
}

.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #342e37;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  }
  
  .button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
  }
  
  @media (min-width: 768px) {
  .button-54 {
      padding: 0.25em 0.75em;
  }
}

.clock {
  padding: 25px;
  text-align: center
}

.button-31 {
  background-color: rgb(34, 33, 33);
  color: white;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 33%;
}